html {
        font-family: FontAwesome;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%
      }

h1 {
        font-size: 34px;
        margin: 0.67em 0;
	color: #69be28
      }

 h1.title  {
        font-size: 38px;
	color: #69be28
      }

 h2  {
        font-size: 30px;
	color: #69be28
      }

h3  {
        font-size: 24px;
	color: #69be28
      }

h4  {
        font-size: 18px;
	color: #69be28
      }

h5  {
        font-size: 16px;
	color: #69be28
      }

h6  {
        font-size: 12px;
	color: #69be28
      }

a {
	color: #69be28
	}	


/* Alert LIGHT BLUE */
code span.an  {
        color: #b3f0ff;
        font-weight: bold;
      }

/* Constant LIGHT BLUE */
code span.co  {
        color: #b3f0ff;
      }

/* Comment LIGHT BLUE */
code span.cv  {
        color: #b3f0ff;
        font-weight: bold;
      }

/* CommentVar LIGHT BLUE*/
code span.do  {
        color: #b3f0ff;
      }

/* BuiltIn FUNCTION LIGHT PURPLE */
code span.cf  {
        color: #cc99ff;
      }

/* Attribute LIGHT PURPLE */
code span.bn  {
        color: #cc99ff;
      }

      /* ControlFlow GREY */
code span.ch  {
        color: #b3cccc;
      }

      /* Char GREY */
code span.cn  {
        color: #b3cccc;
        font-weight: bold;
      }

/* Documentation SOFT YELLOW */
code span.dt  {
        color: #ccffcc;
      }

/* DataType PURPLE */
code span.dv  {
        color: #9966ff;
      }

/* SpecialChar BLUE*/
code span.ss  {
        color: #cc9393;
      }

/* SpecialString BLUE*/
code span.st  {
        color: #66b5ff;
      }

/* String */
code span.va  {
      }

/* Variable BLUE*/
code span.vs  {
        color: #66b5ff;
      }

/* VerbatimString BLUE*/
code span.wa  {
        color: #66b5ff;
        font-weight: bold;
      }
      
/* DecVal GREY */
code span.er  {
        color: #cccccc;
      }

/* Error */
code span.ex  {
      }

/* Extension */
code span.fl  {
        color: #c0bed1;
      }

/* Float LIME */
code span.fu  {
        color: #ccffcc;
      }

/* Function */
code span.im  {
      }

/* Import LIGHT BLUE*/
code span.in  {
        color: #66ffff;
        font-weight: bold;
      }

/* Information GREEN */
code span.kw  {
        color: #69be28;
      }

/* Keyword Modulus GREEN */
code span.op  {
        color: #99ff99;
      }

/* Operator True FALSE WHITE */
code span.ot  {
        color: #ffffff;
      }

/* Other RED */
code span.pp  {
        color: #ff0000;
        font-weight: bold;
      }

/* Preprocessor GREY */
code span.sc  {
        color: #b3cccc;
      }



